@model BookCave.Models.InputModels.ProfileInputModel

@{
    ViewData["Title"] = "Edit profile";
}

<form asp-action="EditProfile" asp-controller="Account" class="form-horizontal" method="POST">
    <div id="Profile" class="container col-md-3">
        <div class="form-group col-md-12">
            <label asp-for="Image">Image source: </label>
            <input type="text" class="form-control" asp-for="Image" placeholder="Enter image source..." value="@Model.Image" />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="FirstName">First name: </label>
            <input type="text" autofocus="autofocus" class="form-control" asp-for="FirstName" placeholder="Enter your first name..." value="@Model.FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="LastName">Last name: </label>
            <input type="text" class="form-control" asp-for="LastName" placeholder="Enter your Last name..." value="@Model.LastName" />
            <span asp-validation-for="LastName" class="text-danger" ></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Email">Email: </label>
            <p id="Email">@Model.Email</p>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="FavoriteBook">Favorite book: </label>
            <input type="text" class="form-control" asp-for="FavoriteBook" placeholder="Enter your favorite book..." value="@Model.FavoriteBook" />
        </div>
    </div>
    <div class="container col-md-7 col-md-offset-1">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="EditShipping" data-toggle="tab">Edit Shipping info</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="EditShipping">
                        <div class="form-group col-md-8">
                            <label asp-for="FullName">Full name: </label>
                            <input type="text" class="form-control" asp-for="FullName" placeholder="Enter your full name..." value="@Model.FullName" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label asp-for="ShippingAddress">Shipping address: </label>
                            <input type="text" class="form-control" asp-for="ShippingAddress" placeholder="Enter your shipping address..." value="@Model.ShippingAddress" />
                            <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label asp-for="City">City/Town: </label>
                            <input type="text" class="form-control" asp-for="City" placeholder="Enter your city/town..." value="@Model.City" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label asp-for="State">County/State: </label>
                            <input type="text" class="form-control" asp-for="State" placeholder="Enter your county/state..." value="@Model.State" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label asp-for="Postcode">Postcode: </label>
                            <input type="text" class="form-control" asp-for="Postcode" placeholder="Postcode" value="@Model.Postcode" />
                            <span asp-validation-for="Postcode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label asp-for="Country">Country: </label>
                            <select name="Country" class="form-control" asp-for="Country" value="@Model.Country" >
                                <option value="Algeria">Algeria</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Australia">Australia</option>
                                <option value="Azerbajan">Azerbajan</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Brazil">Brazil</option>
                                <option value="Canada">Canada</option>
                                <option value="Chile">Chile</option>
                                <option value="Colombia">Colombia</option>
                                <option value="China">China</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Germany">Germany</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Iceland">Iceland</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Netherlands">Netherlands</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="North Korea">North Korea</option>
                                <option value="Norway">Norway</option>
                                <option value="Russia">Russia</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                                <option value="Wakanda">Wakanda</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-3 col-md-offset-9">
        <a id="btn-Profile" class="btn btn-warning" asp-controller="Account" asp-action="MyProfile">Cancel</a>
        <input id="btn-Profile" type="submit" class="btn btn-warning" value="Save Changes" />
        <div class="text-danger">@ViewData["ErrorMessage"]</div>
    </div>
</form>