@model BookCave.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}


<div class="col-md-3 panel panel-default">
    <img class="thumbnail img-resize-profile" src="@Model.Image" alt="@Model.FirstName">
    <p><b>First Name:</b> @Model.FirstName</p>
    <p><b>Last Name:</b> @Model.LastName</p>
    <p><b>Email:</b> @Model.Email</p>
    <p><b>Favorite Book:</b> @Model.FavoriteBook</p>
</div>

<div class="container col-md-7 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#Reviews" data-toggle="tab">My reviews</a>
                </li>
                <li>
                    <a href="#Shipping" data-toggle="tab">Shipping info</a>
                </li>
                <li>
                    <a href="#OrderHistory" data-toggle="tab">Order History</a>
                </li>
                <li>
                    <a href="#Wishlist" data-toggle="tab">Wishlist</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="Reviews">
                    <div class="col-xs-12" id="bookDetails">
                        <h3 class="tab-title">Your reviews</h3>
                        @foreach(var review in Model.Reviews)
                        {
                            <div class="container col-md-10">
                                <div class="panel panel-default panel-in-tab">
                                    <div class="panel-heading">
                                        <p class="heading-title">@review.BookName</p>
                                        <div class="stars-outer">
                                            <div class="stars-inner">
                                                <p class="ratings">@review.Rating</p>
                                            </div>
                                        </div>
                                        <a asp-action="DeleteReview" asp-route-id="@review.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                    <div class="panel-body">
                                        <p>@review.Comment</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="tab-pane fade" id="Shipping">
                    <h3 class="tab-title">Your shipping info</h3>
                    <div class="container col-md-10" id="ShippingInfo">
                        <p><b>Full name:</b> @Model.FullName</p>
                        <p><b>Shipping address:</b> @Model.ShippingAddress</p>
                        <p><b>Country:</b> @Model.Country</p>
                        <p><b>County/State:</b> @Model.State</p>
                        <p><b>City:</b> @Model.City</p>
                        <p><b>Postcode:</b> @Model.Postcode</p>
                    </div>
                </div>

                <div class="tab-pane fade" id="OrderHistory">
                    <h3 class="tab-title">Your order history</h3>
                    @foreach(var order in Model.OrderHistory)
                    {
                        <div class="container col-md-10">
                            <div class="panel panel-default panel-in-tab">
                                <div class="panel-body" id="OrderHistory">
                                    <img class="img-thumbnail img-resize-orderhistory col-md-4" src="@order.Image" alt="@order.Title">
                                    <div class="col-md-6">
                                        <p class="heading-title"><b>@order.Title</b></p>
                                        <p class="heading-title">@order.Author</p>
                                        <p class="heading-title">@order.Price $</p>
                                    </div>
                                    <div class="col-md-1 col-md-offset-1 panel-right-corner">
                                        <p class="">@order.Quantity </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="tab-pane fade" id="Wishlist">
                    <h3 class="tab-title">Your wishlist</h3>
                    @foreach(var book in Model.Wishlist)
                    {
                        <div class="container col-md-10">
                            <div class="panel panel-default panel-in-tab">
                                <div class="panel-body" id="OrderHistory">
                                    <img class="img-thumbnail img-resize-orderhistory col-md-4" src="@book.Image" alt="@book.Title">
                                    <div class="col-md-6">
                                        <p class="heading-title"><b>@book.Title</b></p>
                                        <p class="heading-title">@book.Author</p>
                                        <p class="heading-title">@book.Price $</p>
                                    </div>
                                    <div class="col-md-1 col-md-offset-1 panel-right-corner">
                                        <a asp-action="DeleteWishlist" asp-route-id="@book.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-3 col-md-offset-9">
        <a id="btn-Profile" class="btn btn-warning" asp-controller="Account" asp-action="EditProfile">Edit profile</a>
    </div>
</div>