@model BookCave.Models.ViewModels.BookDetailViewModel

@{
    ViewData["Title"] = "BookDetails";
}

<div id="bookDetails">
    <div id="imageDetails">
        <img src="@Model.Image" alt="Book Image" height="400px" width="300px">
    </div>
    <div id="bookInfo">
        <h3>@Model.Title</h3>
        <h4>@Model.Author</h4>
        <h5>Genre: @Model.Genre</h5>
        <h5>Release date: @Model.ReleaseDate</h5>
        <p id="detailsParagraph">@Model.Description</p>
    </div>
    <div id="bookPricing">
        <p>$@Model.Price</p>
        <p>Rating: @Model.Rating</p>
        <p><a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-warning" id="addToCartButton" role="button">Add to cart</a></p>
    </div>
    <div id="reviewSection">
        <textarea name="reviewArea" id="" cols="30" placeholder="Write a review!" rows="5"></textarea>
    </div>
</div>
