@model List<BookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "Browse";
}

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("search")  
        <input type="submit" value="Search" /></p>
}
<div class="filter">
  <div class="dropdown col-md-1 col-md-offset-10">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>@Html.ActionLink("A-Z", "Browse", new { sortOrder = "Az"})</li>
      <li>@Html.ActionLink("Z-A", "Browse", new { sortOrder = "Za"})</li>
      <li>@Html.ActionLink("Rating", "Browse", new { sortOrder = "Rating"})</li>
      <li>@Html.ActionLink("Price Highest", "Browse", new { sortOrder = "PriceHigh"})</li>
      <li>@Html.ActionLink("Price Lowest", "Browse", new { sortOrder = "PriceLow"})</li>
      <li>@Html.ActionLink("Newest", "Browse", new { sortOrder = "DateNew"})</li>
      <li>@Html.ActionLink("Oldest", "Browse", new { sortOrder = "DateOld"})</li>
    </ul>
  </div>
  <div class="dropdown col-md-1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genre<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Adventure</a></li>
      <li><a href="#">SciFi</a></li>
    </ul>
  </div>
</div>

<div class="row">
@foreach(var book in Model)
{
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="@book.Image" alt="@book.Title">
        <div class="caption">
          <h3>@book.Title</h3>
          <h4>@book.Author</h4>
          <div class="stars-outer">
            <div class="stars-inner">
              <p class="ratings">@book.Rating</p>
            </div>
          </div>
          <p>@book.Price $</p>
          <p><a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.Id" class="btn btn-primary" role="button">Add to cart</a></p>
        </div>
      </div>
    </div>
}
</div>