@model List<BookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "Browse";
}

<div class="row">
@foreach(var book in Model)
{
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img class="img-resize" src="@book.Image" alt="@book.Title">
      <div class="caption">
        <h4 class="book-title">@book.Title</h4>
        <h5>@book.Author</h5>
      </div>
      <div class="rating-price col-xs-5">
        <div class="stars-outer">
          <div class="stars-inner">
            <p class="ratings">@book.Rating</p>
          </div>
        </div>
        <p>@book.Price $</p>
      </div>
      <div class="rating-price col-xs-5">
        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.Id" class="btn btn-warning book-to-cart" role="button">Add to cart</a>
      </div>
    </div>
  </div>
}
</div>