@model BookCave.Models.ViewModels.BuyCartViewModel;
@{
    ViewData["Title"] = "Cart";
}
@{
    double totalprice = 0;
    foreach (var book in Model.TheCart)
    {
        totalprice += (book.Price * book.Quantity);
    }
}

<div class="col-xs-12 col-md-4">
    <h2>The Cart</h2>
    <table class="table table-hover">
        <tr class="active">
            <th>Book Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        @foreach(var book in Model.TheCart)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Quantity</td>
                <td>@((book.Price * book.Quantity).ToString())</td>
            </tr>
        }
        <tr class="active">
            <td>Total Price:</td>
            <td></td>
            <td>@totalprice</td>
        </tr>
    </table>
</div>
<div class="col-xs-12 col-md-4">
    <h2>Shipping Information</h2>
    <form asp-action="CartBought" asp-route-UserId="@Model.Info.UserId">
    <div class="col-xs-12 col-md-12">
        <label asp-for="Info.Email">Email Address</label>
        <input type="text" asp-for="Info.Email" class="form-control" name="Email" value="@Model.Info.Email" readonly>
        <span asp-validation-for="Info.Email" class="text-danger"></span>
    </div>
    <div class="col-xs-12 col-md-12">
        <label asp-for="Info.FullName">Full Name</label>
        <input type="text" asp-for="Info.FullName" class="form-control" name="FullName" value="@Model.Info.FullName" readonly>
        <span asp-validation-for="Info.FullName" class="text-danger"></span>
    </div>
    <div class="col-xs-12 col-md-12">
        <label asp-for="Info.ShippingAddress">Shipping Address</label>
        <input type="text" asp-for="Info.ShippingAddress" class="form-control" name="ShippingAddress" value="@Model.Info.ShippingAddress" readonly>
        <span asp-validation-for="Info.ShippingAddress" class="text-danger"></span>
    </div>
    <div class="col-xs-12 col-md-12">
        <label asp-for="Info.Country">Country</label>
        <input type="text" asp-for="Info.Country" class="form-control" name="Country" value="@Model.Info.Country" readonly>
        <span asp-validation-for="Info.Country" class="text-danger"></span>
    </div>
    <div class="col-xs-12 col-md-12">
        <label asp-for="Info.City">City</label>
        <input type="text" asp-for="Info.City" class="form-control" name="City" value="@Model.Info.City" readonly>
        <span asp-validation-for="Info.City" class="text-danger"></span>
    </div>
    <div class="col-xs-12 col-md-6">
        <label asp-for="Info.State">State</label>
        <input type="text" asp-for="Info.State" class="form-control" name="State" value="@Model.Info.State" readonly>
        <span asp-validation-for="Info.State" class="text-danger"></span>
    </div>
    <div class="col-xs-12 col-md-6">
        <label asp-for="Info.PostCode">Post Code</label>
        <input type="text" asp-for="Info.PostCode" class="form-control" name="PostCode" value="@Model.Info.PostCode" readonly>
        <span asp-validation-for="Info.PostCode" class="text-danger"></span>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <h2>Payment Infomartion</h2>
    <div class="col-xs-12">
        <label asp-for="Info.CardNumber">Card Number</label>
        <input type="text" asp-for="Info.CardNumber" class="form-control" name="CardNumber" value="@Model.Info.CardNumber" readonly>
        <span asp-validation-for="Info.CardNumber" class="text-danger"></span>
    </div>
    <div class="col-xs-5">
        <label asp-for="Info.ExpMonth">Exp Month</label>
        <input type="text" asp-for="Info.ExpMonth" class="form-control" name="ExpMonth" value="@Model.Info.ExpMonth" readonly>
        <span asp-validation-for="Info.ExpMonth" class="text-danger"></span>
    </div>
    <div class="col-xs-6 col-xs-5">
        <label asp-for="Info.ExpYear">Exp Year</label>
        <input type="text" asp-for="Info.ExpYear" class="form-control" name="ExpYear" value="@Model.Info.ExpYear" readonly>
        <span asp-validation-for="Info.ExpYears" class="text-danger"></span>
    </div>
    <div class="col-xs-6 col-xs-5">
        <label asp-for="Info.SecurityCode">Code</label>
        <input type="text" asp-for="Info.SecurityCode" class="form-control" name="SecurityCode" value="@Model.Info.SecurityCode" readonly>
        <span asp-validation-for="Info.SecurityCode" class="text-danger"></span>
    </div>
    <div class="col-xs-6">
        <a asp-action="Index" class="btn btn-warning">Change</a>
    </div>
    <div class="col-xs-6">
        <button type="submit" class="btn btn-warning">Buy</button>
    </div>
    </form>
</div>